<div class="container" *ngIf="haltestelle">
  <h1 class="mt-2">{{haltestelle.name}}</h1>

  <section *ngFor="let steig of haltestelle.steige">
    <div class="row" *ngFor="let monitor of steig.monitor">
      <div class="col" *ngFor="let line of monitor.lines">
        <table>
          <tr>
            <td class="line">{{line.name}}</td>
            <td><i class="fa fa-arrow-right"></i></td>
            <td class="towards">{{line.towards}}</td>
            <td class="departureTime" *ngFor="let departure of line.departures.departure | slice:0:4" [ngClass]="{'realtime': departure.departureTime.timeReal }">
              {{departure.departureTime.countdown}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</div>
