<div class="container-fluid">
  <div class="row">
    <span class="text-nowrap">{{forecast.dt * 1000 | date: 'EEE d. MMMM ' }}</span>
  </div>
  <div class="row">
    <div class="col">
      <img src="http://openweathermap.org/img/w/{{forecast.weather[0].icon}}.png" alt="{{forecast.weather[0].description}}" />
    </div>
    <div class="col">
      <div class="row ml-1 text-nowrap">
        <i class="fa fa-thermometer-full mr-2" aria-hidden="true"></i> {{forecast.temp.max | number: "1.0-0"}} °C
      </div>
      <div class="row ml-1 text-nowrap">
        <i class="fa fa-thermometer-empty mr-2" aria-hidden="true"></i> {{forecast.temp.min | number: "1.0-0"}} °C
      </div>
    </div>
  </div>
</div>
