<app-navbar [currentTime]="currentTime"></app-navbar>

<div class="m-1">
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <i class="fa fa-bus" aria-hidden="true"> </i> Abfahrtszeiten
      </ng-template>
      <ng-template ngbTabContent>
        <publictransport></publictransport>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <i class="fa fa-sun-o" aria-hidden="true"> </i> Wetter
      </ng-template>
      <ng-template ngbTabContent>
        <app-weather></app-weather>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <i class="fa fa-calendar" aria-hidden="true"> </i> Kalender
      </ng-template>
      <ng-template ngbTabContent>
        <calendar></calendar>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <i class="fa fa-shopping-cart" aria-hidden="true"> </i> Einkaufsliste
      </ng-template>
      <ng-template ngbTabContent>
        <grocerylist></grocerylist>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <i class="fa fa-check" aria-hidden="true"> </i> ToDo-Liste
      </ng-template>
      <ng-template ngbTabContent>
        <todolist></todolist>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>
</div>
