<div class="container">
  <div class="row">
    <h1>Kalender</h1>
    <button id="authorize-button" style="display: none;">Authorize</button>
      <button id="signout-button" style="display: none;">Sign Out</button>
  </div>

  <div class="row">
    <table class="table">
      <thead>
        <th>Was?</th>
        <th>Wann?</th>
      </thead>
      <tbody>
        <tr *ngFor="let entry of calendarEntries">
          <td>{{entry.summary}}</td>
          <td>{{entry.start.dateTime | date: "fullDate"}} {{entry.start.dateTime | date: "shortTime"}} - {{entry.end.dateTime | date: "shortTime"}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
